body{
    background-color: black;
}
.btn{
    
    border: none;
    font-family: Georgia;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline:none;
    position: relative;
    -webkit-transition: all 0.30s;
    -moz-transition: all 0.3ms;

}

.btn:before{
    font-family:'FontAwesome';
    speak:none ;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;

}

.btn-sep{
    padding: 25px 60px 25px 120px;
}

.btn-sep:before{
    background: rgba(0, 0, 0,0.15);
}

.btn-1{
    background: #3498db;
    color: #fff;

}

.btn-1:hover{
    background:   #6eb8e9;
}

.btn-1:active{
    background: #6eb8e9; 
    top: 2px; 
}

.btn-1:before{
    position: absolute; 
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;

}

.btn-2{
    background: #15e96e;
    color: #fff; 
}

.btn-2:hover{
    background: #39aa68;   
}

.btn-2:active{
    background: #39aa68;
    top: 2px; 
}

.btn-2:before{
    position: absolute; 
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;

}

.btn-3{
    background: #767804;
    color: #fff; 
}

.btn-3:hover{
    background: #daed5e;   
}

.btn-3:active{
    background: #daed5e;  
    top: 2px; 
}

.btn-3:before{
    position: absolute; 
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;

}
.btn-4{
    background: #cc2e2e;
    color: #fff; 
}

.btn-4:hover{
    background: #cd625d;   
}

.btn-4:active{
    background: #cd625d;  
    top: 2px; 
}



.btn-4:before{
    position: absolute; 
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;

}

.icon-cart:before{
    content:"\f07a";
}
.icon-heart:before{
    content:"\f55a";
}
.icon-info:before{
    content:"\f05a";
}
.icon-send:before{
    content:"\f1d8";
}