.container{
    position: relative;
    background: lightgray;
}
.box-orange{
    position: fixed;
    background: orange;
    height:100px;
    width: 100px;
    
   right: 5px;
  
}

.box-blue{
    background:lightblue;
    height: 100px;
    width: 100px;
    position: static;
}

